.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background: var(--bg-900);
}

.sidebar {
    background: transparent;
    width: 100%;
}

@media (min-width: 641px) {
    .sidebar {
        position: static;
        top: auto;
        z-index: auto;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.content {
    padding-top: 0;
}
